.Menu {
  text-align: center;
    font-size: 50px;
    min-height: 0;
  min-width: 0;
}
* {
  min-height: 0;
  min-width: 0;
}

.ButtonMenu {
    text-align: center;
    margin-top: 50px;
    margin-left:42%;
    position: absolute;
}