.ImageLogo{
    position: absolute;
    height:100%;
    width: 960px;    
    display:block;
    margin-left: 18%;


    background-image: url('https://i.imgur.com/gB4kX3t.png');
    margin-top: -135px;
    position: absolute;
    z-index: 10;
   
}  

.Homepage {
    width:100%;
    height: 100%;
    top: 650px;
    left: 650px;
    font-size: 50px;
    margin-top: 8rem;
}